
:root {
    --primary-color: #080308b6;
    --secondary-color: #AAE2B4;
    --accent1-color: #CAF2EA;
    --accent2-color: #EEF4D4;

    --heading-font: '________', Roboto;
    --heading-font: 1rem;
    }


/* Styles for the body */
/* Header Styles */
header, img nav {
    margin: 1rem auto;
	display: grid;
    justify-content: space-evenly;
	grid-template-columns: 120px 1fr 
}

nav {
    display: flex; 
    align-items: center;
    font-size: 30px;
    margin: 50px;
    margin-left: 90px;
    box-decoration-break: slice;
    justify-content: space-evenly; 
}

header {
    border-style: ridge;
    background-color: #CAF2EA;
}

div {
    border-style: ridge;
}

.hero img :first-child{
    display: block;
    position: relative;
    margin-left: 10px;
    width: fit-content;
}
.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(63, 59, 53);
    margin: 20px 0px;
    text-align: left;
    font-size: 30px;
    border: none;
    font-weight: bold;
    
}
.text2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    margin: 0px;
    border: none;
    font-weight: bold;
}

article img {
    float: left;
    padding: 10px;
    background-color: rgba(238, 240, 231, 0.9);
    text-align: left;
    position: absolute;
    top: 390px;
    padding-left: 0px;
    padding-right: 1000px;
    left: 680px;
    border: ridge;
}




h1 {
    font: var(--heading-font);
    font-size: 3rem;
    text-align: center;
    background-color: rgba(246, 247, 206, 0.9);
    top: 200px;
    left: 100px;
    position: absolute;
    padding-left: 590px;
    padding-right: 590px;
    
}

article p {
    float: left;
    position: relative;
    background-color: rgba(226, 66, 66, 0);
    font-size: 2rem;
    top: 30px;
    color: rgb(8, 8, 8);
    padding-left: 1px;
}
a {
    text-decoration: none;
}


/* Section Styles */
section {
    border: ridge;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 100px;
}

section figure {
    display: inline-block;
    margin: 50px 90px;
    
    
}

figcaption {
    text-align: center;
    width: 150px;

  }

h2 {
    font: var(--heading-font);
    font-size: 3rem;
    color: rgb(7, 6, 5);
    text-align: center; 
}


/* Footer Styles */
footer {
    border: ridge;
    
}

footer p {
    text-align: center;
    font-size: 30px;
 
}
footer img {
    position: relative;
    bottom: 100px;
    right: 1px;
}
.sociallinks {
    justify-content: right;
    
    
    
}


div {
    display: flex;
    align-items: baseline;
    padding: 1px 5px 1px;
    border: .5px solid #333;
    border-radius: 5px;
    gap: 2px;
    background-color: azure;
    
}

.map {
    width: 10px;
    height: auto;  
    
}


.form{
    display: block;
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: rgb(157, 187, 201);
    margin: 10px 160px 10px ;
    justify-self: center;
 
    
}
button {
    
    background: rgb(82, 85, 253);
    color: aliceblue;
    padding: 10px 500px ;
    border-radius: 5px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
    

} 

.flex  {
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: 50px 0px 50px;
    
}

.box {
    width: auto;
    position: relative;
    align-items: center;
}

.select-menu {
    width: 380px;
    margin: 150px auto;
}

.select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);

}

.select-btn i {
    font-size: 25px;

}

.select-menu .options {
    position: relative;
    
    
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}
.select-menu {
    top: 100px;
}
.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;

}

.options .option:hover {
    background: #f2f2f2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}

h3 {
    text-align: center;
    font-size: 40px;
    margin: 0;
   
}

.ready {
    background: rgba(140, 240, 235, 0.5);
}



.forms {
    height: auto;
    margin: 0 519px ;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: rgba(83, 160, 243, 0.166);
    display: grid;
    justify-content: center;
    

}

.newsletter {
    display: grid;
    grid-template-rows: 20px 20px 20px;
    padding: 50px 50px 50px;

}

input .text {
    grid-row: 1;
    grid-column: 1;
   
}

.bg_img {
    position: inherit;


}

.index {
    background-image: url("../images/background.jpg");
    background-size: cover;

}
.tag-line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(195, 236, 248);
    margin: 100px 10px;
    text-align: center;
    font-size: 30px;
    background:  rgba(0, 0, 0, .5);;
   
    
    
}

.form1 {
    display: block;
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: rgb(157, 187, 201);
    margin: 10px 400px 300px ;
    justify-self: center;
 
    
}

button:hover {
    background: #AAE2B4;
    color: black;
}

.check {
    text-align: center;
    font-size: 40px;
    background: rgba(188, 240, 188, 0.5);
    
}
.view {
    border: ridge;
    border-radius: 10px;
    width: 170px;
    color: black;
    background-color: rgb(219, 238, 217);
    align-items: center;
    justify-content: center;
    margin-left: 170px;
    position: relative;
    left: 700px;
}
.view:hover {
    cursor: pointer;
    background-color: #AAE2B4;
    color: black;
}

.pics img{
    display: flex;
    border: ridge;
    border-color: rgb(235, 224, 224);
    border-width: 5px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 50px 750px;
    
}

.adv {
    color: #040808;
    background: rgba(188, 240, 188, 0.5);
}

.figclass {
    color: rgb(14, 17, 3);
    font-size: 25px;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 0 350px;
    background: rgba(188, 240, 188, 0.5);
    padding-top: 0;

   
}

