@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary-color: #080308b6;
    --secondary-color: #AAE2B4;
    --accent1-color: #CAF2EA;
    --accent2-color: #EEF4D4;

    --heading-font: '________', Roboto;
    --heading-font: 1rem;
    }

.hero img :first-child{
    display: block;
    width: 50%;
    height: auto;
    position: relative;
    margin: auto;
}

article img {
    float: right;
    padding: 10px;
    background-color: rgba(179, 243, 159, 0.8);
    text-align: right;
    position: absolute;
    right: 900px;
    top: 300px;
    padding-left: 1000px;
    

}


h1 {
    font: var(--heading-font);
    font-size: 3rem;
    text-align: center;
    background-color: rgba(246, 247, 206, 0.6);
    top: 200px;
    right: 1200px;  
    position: absolute;
}

article p {
    float: left;
    position: absolute;
    background-color: rgba(226, 66, 66, 0);
    font-size: 2rem;
    padding-right: 1200px;
    margin-left: 200px;
    top: 300px;
    color: rgb(8, 8, 8);
}

a {
    text-decoration: none;
}

h2 {
    font: var(--heading-font);
    font-size: 3rem;
    color: rgb(112, 67, 7);
}

footer img {
    width: 1%;
}