@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary-color: #080308b6;
    --secondary-color: #AAE2B4;
    --accent1-color: #CAF2EA;
    --accent2-color: #EEF4D4;

    --heading-font: '________', Roboto;
    --heading-font: 1rem;
    }


/* Styles for the body */
/* Header Styles */
header, img nav {
    margin: 1rem auto;
	display: grid;
    justify-content: space-evenly;
	grid-template-columns: 120px 1fr 
}

nav {
    display: flex; 
    align-items: center;
    font-size: 30px;
    margin: 50px;
    margin-left: 90px;
    box-decoration-break: slice;
    justify-content: space-evenly; 
}

header {
    border-style: ridge;
    background-color: #CAF2EA;
}

div {
    border-style: ridge;
}

.hero img :first-child{
    display: block;
    position: relative;
    margin-left: 10px;
    width: fit-content;
}

article img {
    float: right;
    padding: 10px;
    background-color: rgba(238, 240, 231, 0.9);
    text-align: right;
    position: absolute;
    top: 400px;
    padding-left: 1300px;
    padding-right: 0px;
    left: 80px;
    border: ridge;
}


h1 {
    font: var(--heading-font);
    font-size: 3rem;
    text-align: center;
    background-color: rgba(246, 247, 206, 0.9);
    top: 200px;
    left: 1px;
    position: absolute;
    padding-left: 590px;
    padding-right: 590px;
    
}

article p {
    float: left;
    position: absolute;
    background-color: rgba(226, 66, 66, 0);
    font-size: 2rem;
    padding-right: 100px;
    margin-left: 100px;
    top: 430px;
    color: rgb(8, 8, 8);
}
a {
    text-decoration: none;
}


/* Section Styles */
section {
    border: ridge;
    margin-top: 20px;
}
section img {
    
    position: relative;
    display: flex;
    flex-flow: row;
    width: auto;
   


}



h2 {
    font: var(--heading-font);
    font-size: 3rem;
    color: rgb(7, 6, 5);
    text-align: center;  
}


/* Footer Styles */
footer {
    border: ridge;
    
}

footer p {
    text-align: center;
    font-size: 30px;
 
}
footer img {
    position: relative;
    bottom: 100px;
    right: 200px;
}
.sociallinks {
    justify-content: right;
    
    
    
}

