@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Tiny5&display=swap");
body {
    font-family : var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #050001;
    --secondary-color: #AAE2B4;
    --accent1-color: #CAF2EA;
    --accent2-color: #EEF4D4;

    --heading-font: '________', dancing script;
    --paragraph-font: '_______', merriweather;

    --nav-background-color: #0EF5CF;
    --nav-link-color: #050001;
    --nav-hover-link-color: #14ecec;
    --nav-hover-background-color: #140c07;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 40px;

} 

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

table {
    border-style: groove;
    width: 100%;
    color:red;
}

th, td {
    text-align: center;
    padding: 8px;
    border:groove ;
}

tr :nth-child(1) {
    background-color: #050001;}
    
tr :nth-child(2) {
    background-color: #AAE2B4;}

tr :nth-child(3) {
    background-color: #CAF2EA;}

tr :nth-child(4) {
    background-color: #EEF4D4;}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


