/* @import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --primary-color: #080308b6;
    --secondary-color: #AAE2B4;
    --accent1-color: #CAF2EA;
    --accent2-color: #EEF4D4;

    --heading-font: '________', Roboto;
    --heading-font: 1rem;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Styles for the body */
/* Header Styles */
/* header, nav {
    margin: 1rem auto;
	display: grid;
    justify-content: space-evenly;
	grid-template-columns: 120px 1fr 
}

nav {
    display: flex; 
    align-items: center;
    font-size: 30px;
    margin: 50px;
    margin-left: 90px;
    box-decoration-break: slice;
    justify-content: space-evenly; 
}

header {
    border-style: ridge;
    background-color: #CAF2EA;
}

h1 {
    position: absolute;
    left: 1%;
    top: 40%;
    color: black;
    background-color: rgba(174, 179, 241, 0.7);
    padding: 0px 650px  ;
    font-size: 100px;
    
}    
.hero img {
    width: 100%;
    height: auto;
} */


.container {
    display: flex;
}
.card   {
    background: white ;
    width: 270px;
    height: 400px;
    margin: 10px;
    
}



.card-image {
    background-color: aquamarine;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
}
.car-1 {
    background-image: url(trips1.png);
}

