nav {
    background-color: rgb(163, 208, 245);
    padding:  10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rex;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #020007; 
}
h1 {
    color: steelblue;
    border-bottom: #130357;
    border-width: 1px;
    border-bottom-style: ridge ;
    padding-bottom: 20px;
    padding-top: 20px;

}
img {
    width: 150px;
    height:auto;
    border: 1px solid rgb(31, 173, 230);
    padding: 2px;
    box-shadow: 0 0 30px rgb(101, 117, 29);
    
}
main p {
    padding: 20px;
    text-align: justify;
    margin-right: 150px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(1, 1, 1, 1);
    padding: 1rem;
    background-color:  hsl(98, 72%, 83%);
    color: #050806;
}
aside img {
    width: 200px;
    height: auto;
    
}
main img {
    width: 150px;
    height: auto;
    float: right;
    margin-top: 10px;
    
    

}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
/* Class Selectors */
.box{
    margin: 1rem ;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1
}
aside h2 {
    position: absolute;
    top: 30px;
    left: 90px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
    margin: 1rem;
}
